<app-navbar></app-navbar>
<div class="page">
  <app-dynamic-invoice-message
    *ngIf="isOverdueAvailable"
    [invoiceStatus]="overDueInvoiceStatus"
    title="Overdue Bills"
    message="You've missed the due date on some bills. Total overdue ->"
    buttonLabel="Pay Dues"
    severity="error"
  ></app-dynamic-invoice-message>
  <app-dynamic-invoice-message
    *ngIf="isBillGenerated"
    [invoiceStatus]="pendingInvoiceStatus"
    title="Latest Bill Generated"
    message="Your bill is generated. Amount to be paid -> "
    buttonLabel="View Bill"
    severity="info"
  ></app-dynamic-invoice-message>
  <div class="page-header">
    <h2>Your Latest Bills</h2>
    <p>
      Quickly access your bills, check due dates, and stay on your billing
      history.
    </p>
  </div>
  <p-table
    [value]="invoices"
    selectionMode="single"
    [(selection)]="selectedInvoiceDetails"
    dataKey="id"
    (onRowSelect)="showInvoice($event.data)"
    (onRowUnselect)="hideInvoice()"
    [paginator]="true"
    [rows]="this.pageSize"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-striped p-datatable-lg p-datatable-gridlines"
    sortMode="multiple"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5%">#</th>
        <th>Period</th>
        <th>Due on</th>
        <th>Consumption</th>
        <th>Bill Amount</th>
        <th>Status</th>
        <th style="width: 8%">Download</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-invoice let-i="rowIndex">
      <tr [pSelectableRow]="invoice">
        <td>{{ i + 1 }}</td>
        <td>
          {{ invoice.periodStartDate | date : "d MMM yy" }} -
          {{ invoice.periodEndDate | date : "d MMM yy" }}
        </td>
        <td>{{ invoice.dueDate | date : "EEE, d MMM yyyy" }}</td>
        <td>{{ invoice.unitsConsumed | number : "1.2-2" }} units</td>
        <td>
          {{
            invoice.tariff * invoice.unitsConsumed
              | currency : "INR" : "symbol" : "1.2-2"
          }}
        </td>
        <td>
          <p-tag
            [icon]="getIcon(invoice.invoiceStatus)"
            [severity]="getSeverity(invoice.invoiceStatus)"
            [value]="invoice.invoiceStatus"
          ></p-tag>
        </td>
        <td>
          <p-button
            icon="pi pi-download"
            [rounded]="true"
            [text]="true"
            (onClick)="downloadPdf(customerId, invoice.id)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div>
  <p-dialog
    header="Bill Summary"
    [modal]="true"
    [(visible)]="isInvoiceSummaryVisible"
    [style]="{ width: '25rem' }"
  >
    <app-invoice-summary
      [invoiceDetails]="selectedInvoiceDetails"
    ></app-invoice-summary>
  </p-dialog>
</div>
