.card {
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  width: 100%;
}


.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.83rem;
  padding: 0 3rem;

  p-floatLabel {
    font-size: 0.85rem;
  }

  .phone-number-input {
    border-radius: 0 2rem 2rem 0;
  }

  .address {
    grid-column: span 2;
  }

  p-inputgroupaddon {
    border-radius: 2rem 0 0 2rem;
    font-weight: 500;
    font-size: 0.85rem;
  }

  #address {
    grid-column: span 2;
  }
}
.date-input-group {
  display: flex;
  align-items: center;
}

:host ::ng-deep .p-calendar .p-inputtext,
.form-group input {
  border-radius: 2rem;
  font-weight: 500;
  font-size: 0.85rem;
  width: 100%;
}

:host ::ng-deep .p-calendar .p-inputtext {
  border-radius: 0 2rem 2rem 0;
}

:host ::ng-deep .p-calendar .p-datepicker {
  scale: 0.85;
}

:host ::ng-deep .p-toast {
  scale: 0.9;
}

p-button {
  margin: 0 auto;
  margin-top: 2rem;
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  .form-group {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .card {
      padding: 1.5rem;
      box-shadow: none;
      border-radius: 1rem;
  }

  .form-group {
      display: flex;
      flex-direction: column;
  }

  p-button {
      margin-top: 3rem;
  }
}
