.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0.9rem;

  p {
    display: inline-flex;
    margin: 0.4rem 0;
  }
}

.value {
  margin-left: auto;
}

.bold {
  font-weight: 700;
}

button {
  display: inline-flex;
  width: 100%;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 0.7rem;
}

.paidButton:active,
.paidButton:focus {
  outline: none;
  box-shadow: none;
}

:host ::ng-deep .p-divider.p-divider-horizontal:before {
  border-top: 2px dashed #979797;
}
