@import "primeicons/primeicons.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #323232;
}

.subtitle {
  color: #323232;
  font-weight: 550;
  font-size: 1.05rem;
  opacity: 0.8;
}

.heading {
  font-weight: 700;
  text-align: center;
  line-height: 110%;
  letter-spacing: -0.05rem;
  font-size: 2.5rem;
  padding: 8px;
  margin: 0;
  color: transparent;
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 0.9),
    rgba(40, 40, 40, 0.8)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-header {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;

  h2 {
    font-size: 1.8rem;
    letter-spacing: -0.04rem;
    margin: 0;
  }

  p {
    color: #565656;
    margin: 0;
  }
}

.separator {
  scale: 0.35;
  color: #444242;
  opacity: 0.25;
}

.logo {
  width: 3rem;
  height: 3rem;
  opacity: 0.85;
}

.page {
  padding: 2rem 8rem;
  background-color: #f2f2f2;
  min-height: calc(100vh - 82.8px);
}

.discount {
  color: #61b735;
  font-weight: 600;
}

:host ::ng-deep .p-toast {
  scale: 0.9;
}

.custom-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 650;

  h3 {
    font-size: 1.2rem;
    margin: 0.5rem;
    font-weight: 600;
  }
  i {
    font-weight: bold;
  }
}

@media (max-width: 968px) {
  .heading {
    font-size: 2rem;
  }
}
