<div class="container">
  <div class="all-cards" *ngIf="isUp">
    <p-button
      label="Add Customers"
      icon="pi pi-user-plus"
      [text]="true"
      [raised]="true"
      [routerLink]="['add']"
      severity="secondary"
      [style]="{ 'height': '45px', 'margin-right' : '20px' }"
    >
    </p-button>
    <p-button
      label="View Customers"
      icon="pi pi-user"
      [text]="true"
      [raised]="true"
      severity="secondary"
      [routerLink]="['/employee/customer']"
      [style]="{ 'height': '45px', 'margin-right' : '20px' }"
    >
    </p-button>
    <p-button
      label="Customer Bulk Entry"
      icon="pi pi-upload"
      [text]="true"
      [raised]="false"
      severity="secondary"
      [routerLink]="['bulk-add']"
      [style]="{ height: '45px' }"
    >
    </p-button>
  </div>
  <p-button
    *ngIf="isUp"
    icon="pi pi-angle-up"
    (click)="eleviateUp()"
    [text]="true"
  ></p-button>
  <p-button
    *ngIf="!isUp"
    icon="pi pi-angle-down"
    (click)="eleviateUp()"
    [text]="true"
  ></p-button>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
