.container {
  display: grid;
  padding-bottom: 20px;
}

.part {
  width: 49.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-subtitle {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5rem;
}

.right {
  background-color: #fff;
  border-radius: 2rem;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.83rem;
  padding: 0 3rem;

  p-floatLabel {
    font-size: 0.85rem;
  }

  .phone-number-input {
    border-radius: 0 2rem 2rem 0;
  }

  .address {
    grid-column: span 2;
  }

  p-inputgroupaddon {
    border-radius: 2rem 0 0 2rem;
    font-weight: 500;
    font-size: 0.85rem;
  }

  #address {
    grid-column: span 2;
  }
}

:host ::ng-deep .p-calendar .p-inputtext,
  .form-group input {
    border-radius: 2rem;
    font-weight: 500;
    font-size: 0.85rem;
    width: 100%;
  }

  :host ::ng-deep .p-calendar .p-inputtext {
    border-radius: 0 2rem 2rem 0;
  }

  :host ::ng-deep .p-calendar .p-datepicker {
    scale: 0.85;
  }

  :host ::ng-deep .p-toast {
    scale: 0.9;
  }

  p-button {
    margin: 0 auto;
    margin-top: 2rem;
  }

/* Additional styles for responsiveness */
