.search-bar{
    display: flex;
    /* flex-direction: row; */
}
.search-container{
    /* justify-content: center; */
}

input{
    width: 500px;
}

.add-invoices{
    margin-left: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
  
    p {
      display: inline-flex;
      margin: 0.4rem 0;
    }
  }

  :host ::ng-deep .p-divider.p-divider-horizontal:before {
    border-top: 2px dashed #979797;
  }
  