<div class="container">
  <app-company-overview></app-company-overview>
  <div class="part right">
    <div style="text-align: center">
      <h1 class="heading welcome">Welcome back!</h1>
      @if (showOtpComponent) {
      <p class="subtitle small-subtitle">We've sent you an OTP</p>
      } @else {
      <p class="subtitle small-subtitle">
        Please enter your Customer ID to continue
      </p>
      }
    </div>
    <form
      *ngIf="!showOtpComponent"
      [formGroup]="loginForm"
      (ngSubmit)="submitOtpRequest()"
    >
      <input
        id="userId"
        type="text"
        pInputText
        placeholder="Customer ID"
        name="userId"
        formControlName="userId"
      />
      <p-button
        label="Continue"
        icon="pi pi-arrow-right"
        iconPos="right"
        [rounded]="true"
        type="submit"
        [disabled]="loginForm.invalid || isLoading"
        [loading]="isLoading"
      />
    </form>
    <div *ngIf="showOtpComponent">
      <app-otp-input [userId]="getUserId()"></app-otp-input>
    </div>
    <span class="sign-up">
      @if (!showOtpComponent) {
      <p>Don't have an account?</p>
      <a routerLink="/register">Sign Up</a>
      } @else {
      <div
        style="
          display: inline-flex;
          flex-direction: column;
          align-items: center;
        "
      >
        <p-button
          *ngIf="isResendVisible"
          [text]="true"
          [label]="
            isResendButtonDisabled
              ? 'Resend OTP in (' + timeLeft + 's)'
              : 'Resend OTP'
          "
          size="small"
          [severity]="isResendButtonDisabled ? 'secondary' : 'primary'"
          [disabled]="isResendButtonDisabled"
          (onClick)="onResend()"
        ></p-button>
        <p>For your security, do not share this OTP with anyone.</p>
      </div>
      }
    </span>
  </div>
  <p-toast [life]="showOtpComponent && 10000" />
</div>
