<app-navbar></app-navbar>
<div class="page">
  <div class="page-header">
    <h2>Your Latest Transactions</h2>
    <p>
      Track your transactions, view payment details, and monitor your financial
      history.
    </p>
  </div>
  <p-table
    [value]="transactions"
    [paginator]="true"
    [rows]="this.pageSize"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-striped p-datatable-lg p-datatable-gridlines"
    sortMode="multiple"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Reference</th>
        <th>Associated Bill</th>
        <th>Amount</th>
        <th>Fee</th>
        <th>Method</th>
        <th>Status</th>
        <th>View</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>
          {{ transaction.transactionReference }}
        </td>
        <td>
          {{ transaction.invoice.id }}
        </td>
        <td>
          {{ transaction.amount | currency : "INR" : "symbol" : "1.2-2" }}
        </td>
        <td>
          {{
            transaction.transactionFee | currency : "INR" : "symbol" : "1.2-2"
          }}
        </td>
        <td>
          {{ transaction.transactionMethod }}
        </td>
        <td>
          <p-tag
            [icon]="getIcon(transaction.transactionStatus)"
            [severity]="getSeverity(transaction.transactionStatus)"
            [value]="transaction.transactionStatus"
          ></p-tag>
        </td>
        <td>
          <p-button icon="pi pi-eye" [rounded]="true" [text]="true" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
