:host ::ng-deep .p-panel .p-panel-header {
  padding: 0.5rem;
}

.description {
  font-size: 0.9rem;
  color: #556;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  height: 100%;
  margin-top: 1rem;
}

.chart-container {
  grid-column: 2;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .chart-container {
    grid-column: 1 / -1;
    grid-row: auto;
  }
}
