<p-messages severity="{{ severity }}" closable="false" *ngIf="totalAmount > 0">
  <ng-template pTemplate>
    <div class="content">
      <h3 *ngIf="title">{{ title }}</h3>
      <p *ngIf="message">
        {{ message }}
        <span class="amount">{{
          totalAmount | currency : "INR" : "symbol" : "1.2-2"
        }}</span>
      </p>
    </div>
    <p-button
      class="pay-button"
      label="{{ buttonLabel }}"
      [severity]="buttonSeverity"
      size="small"
      (onClick)="navigate()"
    ></p-button>
  </ng-template>
</p-messages>
<p-toast />
<div *ngIf="!isLoading">
  <p-dialog
    header="Bill Summary"
    [modal]="true"
    [(visible)]="isInvoiceSummaryVisible"
    [style]="{ width: '25rem' }"
  >
    <app-invoice-summary
      [invoiceDetails]="selectedInvoiceDetails"
    ></app-invoice-summary>
  </p-dialog>
</div>
